In [1]:
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
data = pd.read_csv('../Medicare_Provider_Util_Payment_PUF_CY2017.csv', sep='\t')
print(data.shape)
data.head()

/home/amin/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(9847444, 26)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1,CPT copyright 2016 American Medical Associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,Hospital observation care typically 70 minutes...,N,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763

In [3]:
data.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt',
       'average_Medicare_standard_amt'],
      dtype='object')

In [4]:
data.drop(['nppes_provider_last_org_name', 'nppes_provider_first_name', 'nppes_provider_mi', 'nppes_credentials',\
          'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2', 'nppes_provider_city',\
          'nppes_provider_zip', 'nppes_provider_state', 'nppes_provider_country', 'medicare_participation_indicator',\
           'place_of_service','hcpcs_drug_indicator', 'hcpcs_code', 'hcpcs_description'],inplace=True,axis=1)
data.drop([0],inplace=True,axis=0)

In [5]:
print(data.shape)
data.head()

(9847443, 10)

,npi,nppes_provider_gender,provider_type,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
1,1003000126,M,Internal Medicine,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
2,1003000126,M,Internal Medicine,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
3,1003000126,M,Internal Medicine,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
4,1003000126,M,Internal Medicine,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763
5,1003000126,M,Internal Medicine,16.0,16.0,16.0,101.680000,462.812500,79.710000,80.750000

In [6]:
provider_gender = []
m = f = n = 0
for x in data.iloc[:,1]:
    if x =='M' or x == 'm':
        provider_gender.append(1)
        m += 1
    elif x =='F' or x == 'f':
        provider_gender.append(-1)
        f += 1
    else:
        n += 1
        if np.random.random()>0.7:
            provider_gender.append(-1)
        else:
            provider_gender.append(+1)
print(m,f,n)
print(sum(provider_gender))
# M = 6535107 F = 2881018 Null = 431318
# So we randomly and with ratio of 2 to 1 (number of Ms to number of Fs) replace null gender with M and F
data['nppes_provider_gender'] = provider_gender

6535107 2881018 431318
3826241

In [7]:
6836855 /(3010588 + 6836855)

0.6942771844427026

In [8]:
data.dropna(inplace=True)
print(data.shape)
data.head()

(9847443, 10)

,npi,nppes_provider_gender,provider_type,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
1,1003000126,1,Internal Medicine,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
2,1003000126,1,Internal Medicine,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
3,1003000126,1,Internal Medicine,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
4,1003000126,1,Internal Medicine,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763
5,1003000126,1,Internal Medicine,16.0,16.0,16.0,101.680000,462.812500,79.710000,80.750000

In [9]:
# i = 0
# countHCPCS = Counter(data['hcpcs_code'])

# # for x in data.iloc[:,2]:
# #     count.
# print(countHCPCS)
# len(countHCPCS)

In [11]:
i = 0
countType = Counter(data['provider_type'])
types = list(dict(countType).keys())
intType = []
for x in data.iloc[:,2]:
    intType.append(types.index(x))
len(intType)
# print(count)
# len(count)

9847443

In [12]:
# data[data['provider_type']=='Medical Toxicology']

In [ ]:
data['provider_type'] = intType

In [ ]:
data.to_csv('../Medicare_Provider_Util_Payment_PUF_CY2017_revised.csv',index=False)

In [ ]:
del data

In [ ]:
data = pd.read_csv('../Medicare_Provider_Util_Payment_PUF_CY2017_revised.csv')

In [ ]:
fraudData = pd.read_csv('data/UPDATED.csv')
print(fraudData.shape)
fraudData.head()

In [ ]:
index = []
i = 0
for x in fraudData['NPI']:
    try:
        int(float(x))
    except:
        i += 1
    if len(str(x))==10:
        index.append(i)
    i += 1
print(len(index))
cleaFraud = fraudData.loc[index,['NPI','EXCLTYPE']]

In [ ]:
fraudLabel = list(cleaFraud['EXCLTYPE'])

i = 0
for x in fraudLabel:
    fraudLabel[i] = x.replace(' ','')
    i += 1
print(len(fraudLabel))
Counter(fraudLabel)

In [ ]:
classlabel = []
labels = ['1128a1','1128a2','1128a3','1128b4','1128c3gi','1128c3gi']
for x in fraudLabel:
    if str(x) in labels:
        classlabel.append(1)
    else:
        classlabel.append(0)
print(len(classlabel), sum(classlabel))
cleaFraud['fraud_label'] = classlabel
cleaFraud.drop(['EXCLTYPE'],inplace=True,axis=1)
cleaFraud.columns = ['npi', 'fraud_label']
cleaFraud.head()

In [ ]:
cleaFraud.to_csv('LEIE Exclusion.csv',index=False)

In [ ]:
mergedData = pd.merge(cleaFraud, data, on='npi',how='inner')
print(mergedData.shape, sum(mergedData['fraud_label']))
mergedData.head()

In [ ]:
mergedData.to_csv('provider features and fraud labels.csv', index=False)