In [11]:
import pandas as pd
import numpy as np

In [12]:
# data = pd.read_excel('2014 to 2017.xlsx')\
# .append(pd.read_excel('2018.xlsx'))\
# .append(pd.read_excel('2019.xlsx'))\
# .append(pd.read_excel('2020.xlsx'))
# data.head()

In [13]:
# data.to_csv('allDriver.csv',index=False)

In [14]:
# del data

In [15]:
DualExclusive = pd.read_excel('DualExclusive.xlsx')
DualExclusive.drop(['Drivers Phone'], axis=1, inplace=True)
DualExclusive.columns = ['id', 'areacode', 'Type']
DualExclusive.head()

   id areacode       Type
0   1      THR       Dual
1   9      THR       Dual
2  10      THR  Exclusive
3  12      THR  Exclusive
4  18      THR  Exclusive

In [16]:
allDriver = pd.read_csv('allDriver.csv')
allDriver.head()

c:\program files\python36\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   id  Drivers Phone  national_code
0   1  +989125701643   4.402930e+08
1   2  +989306361180            NaN
2   3  +989128056534   2.218211e+09
3   4  +989199399204            NaN
4   5  +989353044009            NaN

In [17]:
print(DualExclusive.shape,allDriver.shape)

(887033, 3) (2202440, 3)

In [18]:
# df_merge_difkey = pd.merge(DualExclusive, allDriver, left_on='ID',  right_on='id')
# # df_merge_difkey.drop('ID', axis=1, inplace=True)
# df_merge_difkey.shape

In [19]:
df_merge_difkey = pd.merge(allDriver, DualExclusive, on='id',how='left')
df_merge_difkey.shape

(2202440, 5)

In [20]:
df_merge_difkey.head()

   id  Drivers Phone  national_code areacode  Type
0   1  +989125701643   4.402930e+08      THR  Dual
1   2  +989306361180            NaN      NaN   NaN
2   3  +989128056534   2.218211e+09      NaN   NaN
3   4  +989199399204            NaN      NaN   NaN
4   5  +989353044009            NaN      NaN   NaN

In [21]:
ID_City = pd.read_csv('ID-City-25-Jul.csv')
Code = ID_City['area_code']
# ID_City.drop(['Drivers Phone','Rides','area_code'], axis=1, inplace=True)
ID_City.head()

        id area_code  Drivers Phone  Rides
0        1       THR   9.891260e+11      2
1       10       THR   9.891280e+11      1
2    10000       THR   9.893550e+11      1
3  1000000       GOL   9.891060e+11      3
4  1000002       KSH   9.893320e+11    232

In [22]:

# ids = []
# for i in range(len(df_merge_difkey.iloc[:,0])):
#     try:
#         ids.append(int(df_merge_difkey.loc[i,'id']))            
#     except:
#         ids.append(int(df_merge_difkey.loc[i,'ID']))
#     if i% 100000 == 0:
#         print('Hey'+str(i))

# print(len(ids))

In [23]:
# df_merge_difkey['id'] = ids
df_merge_difkey.to_csv('DriverDB.csv', index=False)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_merge_difkey = pd.read_csv('DriverDB.csv')

c:\program files\python36\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
areaCode = []
for i in range(len(df_merge_difkey.iloc[:,0])):

    if type(df_merge_difkey.loc[i,'areacode']) != type(1.0):
        areaCode.append(df_merge_difkey.loc[i,'areacode'])
    else:
        try:
            areaCode.append(ID_City['area_code'][ID_City['id']==df_merge_difkey.loc[i,'id']])
        except:
            areaCode.append(np.nan)
    if i% 100000 == 0:
        print('Hey'+str(i)+str(len(areaCode)))
print(len(areaCode))
len(df_merge_difkey.iloc[:,0])

Hey01
Hey100000100001
Hey200000200001
Hey300000300001
Hey400000400001
Hey500000500001
Hey600000600001
Hey700000700001
Hey800000800001
Hey900000900001
Hey10000001000001
Hey11000001100001
Hey12000001200001
Hey13000001300001
Hey14000001400001
Hey15000001500001
Hey16000001600001
Hey17000001700001
Hey18000001800001
Hey19000001900001
Hey20000002000001
Hey21000002100001
Hey22000002200001
2202440

2202440

In [5]:
Type = []
for i in range(len(df_merge_difkey.iloc[:,0])):

    if type(df_merge_difkey.loc[i,'Type']) != type(1.0):
        Type.append(df_merge_difkey.loc[i,'Type'])
    else:
        Type.append("Exclusive")
    if i% 100000 == 0:
        print('Hey'+str(i)+str(len(Type)))
print(len(Type))
len(df_merge_difkey.iloc[:,0])

Hey01
Hey100000100001
Hey200000200001
Hey300000300001
Hey400000400001
Hey500000500001
Hey600000600001
Hey700000700001
Hey800000800001
Hey900000900001
Hey10000001000001
Hey11000001100001
Hey12000001200001
Hey13000001300001
Hey14000001400001
Hey15000001500001
Hey16000001600001
Hey17000001700001
Hey18000001800001
Hey19000001900001
Hey20000002000001
Hey21000002100001
Hey22000002200001
2202440

2202440

In [6]:
len(df_merge_difkey.iloc[:,0])

2202440

In [7]:
df_merge_difkey['areacode'], df_merge_difkey['Type'] = areaCode, Type
# df_merge_difkey.drop('ID', axis=1, inplace=True)

In [8]:
df_merge_difkey.head()

   id  Drivers Phone  national_code areacode       Type
0   1  +989125701643   4.402930e+08      THR       Dual
1   2  +989306361180            NaN      NaN  Exclusive
2   3  +989128056534   2.218211e+09      NaN  Exclusive
3   4  +989199399204            NaN      NaN  Exclusive
4   5  +989353044009            NaN      NaN  Exclusive

In [9]:
df_merge_difkey.to_csv('DriverDB.csv', index=False)