In [2]:
import pandas as pd
import numpy as np
from collections import Counter

In [41]:
data = pd.read_csv('../Medicare_Provider_Util_Payment_PUF_CY2017.csv', sep='\t')
print(data.shape)
data.head()

/home/amin/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(9847444, 26)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1,CPT copyright 2016 American Medical Associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,Hospital observation care typically 70 minutes...,N,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763

In [42]:
data.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt',
       'average_Medicare_standard_amt'],
      dtype='object')

In [43]:
data.drop(['nppes_provider_last_org_name', 'nppes_provider_first_name', 'nppes_provider_mi', 'nppes_credentials',\
          'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2', 'nppes_provider_city',\
          'nppes_provider_zip', 'nppes_provider_state', 'nppes_provider_country', 'medicare_participation_indicator',\
           'place_of_service','hcpcs_drug_indicator', 'hcpcs_description'],inplace=True,axis=1)
data.drop([0],inplace=True,axis=0)

In [46]:
print(data.shape)
data.head()

(9847443, 11)

,npi,nppes_provider_gender,provider_type,hcpcs_code,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
1,1003000126,M,Internal Medicine,99217,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
2,1003000126,M,Internal Medicine,99218,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
3,1003000126,M,Internal Medicine,99219,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
4,1003000126,M,Internal Medicine,99220,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763
5,1003000126,M,Internal Medicine,99221,16.0,16.0,16.0,101.680000,462.812500,79.710000,80.750000

In [63]:
provider_gender = []
m = f = n = 0
for x in data.iloc[:,1]:
    if x =='M' or x == 'm':
        provider_gender.append(1)
        m += 1
    elif x =='F' or x == 'f':
        provider_gender.append(-1)
        f += 1
    else:
        n += 1
        if np.random.random()>0.7:
            provider_gender.append(-1)
        else:
            provider_gender.append(+1)
print(m,f,n)
print(sum(provider_gender))
# M = 6535107 F = 2881018 Null = 431318
# So we randomly and with ratio of 2 to 1 (number of Ms to number of Fs) replace null gender with M and F
data['nppes_provider_gender'] = provider_gender

6535107 2881018 431318
3826649

In [64]:
6836855 /(3010588 + 6836855)

0.6942771844427026

In [67]:
data.dropna(inplace=True)
print(data.shape)
data.head()

(9847443, 11)

,npi,nppes_provider_gender,provider_type,hcpcs_code,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
1,1003000126,1,Internal Medicine,99217,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
2,1003000126,1,Internal Medicine,99218,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
3,1003000126,1,Internal Medicine,99219,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
4,1003000126,1,Internal Medicine,99220,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763
5,1003000126,1,Internal Medicine,99221,16.0,16.0,16.0,101.680000,462.812500,79.710000,80.750000

In [90]:
# i = 0
# countHCPCS = Counter(data['hcpcs_code'])

# # for x in data.iloc[:,2]:
# #     count.
# print(countHCPCS)
# len(countHCPCS)

Counter({'99213': 457843, '99214': 428268, '99204': 179569, '99203': 178059, '99232': 175336, 'G0008': 145184, '99223': 133368, '99212': 133180, '99233': 120664, '99215': 119758, '99222': 111447, '36415': 97242, '90662': 91538, 'G0009': 86718, '93000': 84390, 'G0439': 76372, '96372': 70312, '99231': 69468, '90670': 67293, '71020': 67047, '99291': 62680, '99205': 62427, '99284': 60805, '93010': 59445, '99285': 57220, '97110': 56361, '99283': 56124, '99239': 53934, '99238': 51742, '97140': 49362, '99202': 48226, '20610': 47208, '81003': 45285, '81002': 45105, '00740': 44013, '90732': 42819, '83036': 42258, '73030': 41930, '99221': 41781, '00810': 40649, '73502': 39763, '93306': 38189, '73630': 38053, '92014': 37593, '85025': 37570, '99308': 37152, '90686': 35294, '72100': 35291, '99217': 34657, '99309': 33311, 'J3301': 32791, '97112': 31980, '99220': 31416, '93880': 31149, '99211': 30700, '73562': 30495, '85610': 30402, '97162': 29940, '92004': 29536, '74177': 29156, '73610': 28025, '73560': 28005, '71250': 27555, '71010': 27487, '80053': 27440, '97161': 27253, '98941': 27253, '97530': 27136, '74176': 27065, '74000': 26833, 'G0180': 26775, 'G0438': 26661, '93971': 26647, '76942': 26394, '71260': 25690, '92083': 25579, '70450': 25356, '77080': 25222, '93970': 25024, '80061': 24886, '92012': 24369, 'J1100': 24189, '76770': 24140, '73130': 23962, '00142': 23193, '92133': 23155, '73110': 23067, '92250': 23051, '92134': 22558, '76705': 22303, '84443': 21755, '17000': 21696, 'G0202': 21547, 'G0283': 21050, '72148': 20715, '73564': 20603, '78452': 20321, 'J1030': 20286, '76700': 19978, '72170': 19623, 'G0101': 19047, '72110': 18852, '76536': 18694, '90653': 18679, '88305': 18547, '43239': 18521, '80048': 18440, '69210': 18203, '71275': 18024, '72125': 18009, '17003': 17800, '98940': 17777, '90834': 17742, '66984': 17613, '90791': 17521, '99152': 17498, '11100': 17445, '90837': 17444, '70551': 17384, '45380': 17210, '81001': 17074, '72040': 16368, 'J3420': 16191, '93018': 16121, 'J1040': 16000, '17110': 15883, '45385': 15846, '70553': 15796, '87804': 15786, '70486': 15605, '99495': 15526, '99307': 15393, '99306': 15366, 'J0696': 15180, '99219': 15109, 'G0444': 14963, '90674': 14866, '93016': 14804, '72141': 14645, '36620': 14523, '74178': 14436, '11721': 14318, '99496': 14025, '87880': 13971, '94010': 13934, '01402': 13789, '99305': 13732, '94060': 13682, '00790': 13496, '74020': 13438, '90688': 13357, '73721': 13326, '73552': 13308, 'G0402': 13293, '72131': 13270, '99497': 12960, '45378': 12893, '73590': 12845, '82570': 12759, '88342': 12741, 'G0206': 12676, '99225': 12571, '77063': 12267, '76830': 12173, '11101': 12014, 'Q0091': 11881, '76937': 11781, '94640': 11777, '76642': 11684, '82306': 11672, '20550': 11578, '82962': 11560, '11042': 11531, 'J1885': 11510, 'G0179': 11440, '93925': 11398, 'J0702': 11318, '76775': 11229, '27447': 11213, '66821': 11072, '93325': 11021, 'G0204': 11017, 'Q9967': 11006, '99310': 10995, '72050': 10980, '84439': 10976, '94729': 10949, '97035': 10859, '88341': 10792, '73221': 10730, '93280': 10666, '73080': 10638, '88304': 10585, 'Q2037': 10555, '36556': 10506, '76856': 10498, '90792': 10473, '82043': 10447, '82607': 10397, '74022': 10095, '93922': 9956, '43235': 9849, '52000': 9594, '76514': 9523, '93458': 9429, 'G0121': 9399, '84153': 9316, '99490': 9302, 'A0425': 9266, '92557': 9236, '99406': 9160, '92020': 9136, '70498': 9120, '88312': 9118, '93015': 9071, '74230': 9010, '88307': 8967, '64483': 8949, '71101': 8890, '93312': 8836, '62323': 8683, 'J0897': 8661, '92136': 8656, '81000': 8640, '97164': 8571, '00910': 8569, '51798': 8524, '97597': 8524, '73620': 8481, '00400': 8479, '11056': 8478, '88313': 8384, '73700': 8374, '64493': 8351, '93227': 8350, '99282': 8341, '70496': 8321, '17004': 8306, '90832': 8245, '82728': 8233, '31575': 8182, '73060': 8182, 'A0429': 8175, 'G0105': 8175, '93308': 8112, '85027': 8084, '93320': 8053, 'G0103': 8026, '95886': 7826, '84550': 7772, '92567': 7758, '72158': 7734, '83540': 7719, '11720': 7709, '93923': 7672, '88311': 7668, '72070': 7663, '77001': 7623, '99292': 7609, '97163': 7578, '78815': 7571, '96365': 7549, '97535': 7409, '82044': 7365, '20605': 7360, '82947': 7316, '11055': 7303, '90960': 7278, '94726': 7263, '97116': 7234, '70544': 7210, '99336': 7209, 'A0427': 7188, '70491': 7173, '90961': 7155, 'G0279': 7136, '99316': 7118, '90935': 7076, 'G0328': 7056, '83735': 7054, '96413': 7017, '93005': 6907, '99335': 6896, '73140': 6843, '73501': 6817, '27130': 6780, '78306': 6696, '90656': 6659, '90833': 6640, '88331': 6636, '77002': 6631, '72146': 6600, 'J2785': 6598, '20611': 6574, '74183': 6546, '64494': 6507, '93224': 6507, '82565': 6489, '20600': 6400, '82270': 6339, '01810': 6309, '74174': 6235, '93294': 6227, '83550': 6190, '99226': 6043, '88112': 6017, '92928': 6015, '90471': 6005, '92225': 5990, '00670': 5951, '01480': 5926, '74220': 5885, '31231': 5877, '80305': 5766, '87086': 5688, '72072': 5687, '95811': 5670, '96402': 5614, '95810': 5500, '64635': 5487, '27096': 5473, 'G0442': 5462, 'A9500': 5428, '78582': 5419, '92002': 5384, '85651': 5368, '66982': 5361, '96415': 5358, '17262': 5358, '80076': 5350, '64447': 5330, '11730': 5326, '31500': 5297, '20552': 5277, '93926': 5239, '73090': 5236, '99315': 5219, '76872': 5205, '96375': 5182, '93351': 5176, '77012': 5171, '88173': 5154, '51741': 5120, '55700': 5079, '32555': 5073, '99349': 5046, '77427': 5041, '63047': 5039, '93296': 5020, '95816': 4983, '01214': 4958, '62321': 4926, '92960': 4925, '82746': 4923, '72192': 4896, '12032': 4889, '93978': 4834, '77300': 4788, '77334': 4777, '72128': 4770, '10060': 4768, '88309': 4751, '88300': 4715, '96401': 4682, '01936': 4667, '11900': 4654, '00840': 4646, '64484': 4621, '99201': 4619, '99304': 4614, '77263': 4603, '76882': 4561, 'J1200': 4535, '96367': 4525, 'J9217': 4522, '01922': 4518, '64415': 4496, '93295': 4463, 'G0500': 4420, '11750': 4389, '95004': 4380, '11602': 4378, '71100': 4330, '88360': 4310, '93975': 4307, '93284': 4290, '52332': 4282, '49083': 4268, '93288': 4267, '80307': 4256, '97150': 4235, '77290': 4215, '95117': 4210, '64636': 4207, '67028': 4188, '93283': 4171, '73070': 4157, '94727': 4153, '74420': 4152, '85652': 4151, '73100': 4131, '36561': 4093, '93321': 4070, '47562': 4061, '77280': 4050, '64490': 4038, '77014': 4038, '64495': 4021, '01992': 4012, 'Q2039': 4009, '94620': 4001, '82274': 3969, '95819': 3967, '76641': 3957, '22853': 3948, '10022': 3939, '92226': 3938, '36558': 3932, '76376': 3927, '69100': 3926, '95165': 3918, '82550': 3902, '64450': 3901, '63048': 3887, '86140': 3834, '95910': 3813, '73521': 3797, '93279': 3751, 'J2930': 3731, 'J7325': 3716, '92285': 3715, '77295': 3704, '20553': 3703, 'G0297': 3703, '85018': 3679, '73718': 3666, '95911': 3661, '73522': 3629, '51702': 3621, '29827': 3593, '99348': 3565, '95909': 3554, '76706': 3506, '19083': 3487, '64721': 3485, '29826': 3435, '93228': 3435, '96417': 3422, '38221': 3408, '00300': 3398, '73565': 3368, '99334': 3365, '77338': 3345, '77301': 3330, '33208': 3323, '93976': 3315, '11719': 3303, '73600': 3287, '13132': 3274, '84460': 3269, '72156': 3254, 'Q2035': 3224, '00140': 3218, '01400': 3217, '69209': 3206, '65855': 3204, '99354': 3203, '93459': 3184, 'J2469': 3169, '73120': 3163, '43249': 3161, '51784': 3160, '68761': 3158, '84403': 3158, '83880': 3146, 'J3490': 3141, '67820': 3126, '72197': 3124, 'J7620': 3120, '13121': 3108, 'A0428': 3108, '74181': 3105, '33533': 3098, 'J7030': 3087, '83615': 3084, '90962': 3078, '84100': 3065, '96374': 3063, 'Q2038': 3046, '83721': 3033, '96361': 3022, '97016': 3020, '51797': 3017, 'G6002': 3003, 'J7050': 3002, 'G9678': 2999, '75710': 2974, '36569': 2970, 'J7323': 2959, '99356': 2945, '51700': 2924, '92235': 2920, '83970': 2917, '96360': 2902, '83861': 2898, '00145': 2895, '64491': 2885, '99350': 2883, '93272': 2878, '93298': 2875, '99318': 2873, '72020': 2872, 'J7324': 2869, 'J0585': 2867, '00104': 2858, '11057': 2849, '96366': 2848, '31624': 2844, '88108': 2833, 'J7321': 2829, '01844': 2828, '99153': 2817, '43248': 2814, '93454': 2810, '93225': 2809, 'J3489': 2802, 'G0181': 2797, 'G0403': 2788, '87186': 2780, '90836': 2774, '76519': 2761, '85060': 2759, '17261': 2747, '22842': 2747, '97165': 2743, '75635': 2742, '97113': 2725, '93042': 2722, '76377': 2714, 'J9035': 2709, '52310': 2705, 'J7613': 2697, '76870': 2690, '01630': 2684, '27245': 2682, '26055': 2678, '36902': 2666, 'G0447': 2650, 'J0178': 2650, '99337': 2649, '11603': 2648, '84450': 2647, '84520': 2645, '45381': 2637, '70470': 2629, '99218': 2623, '84165': 2619, '87088': 2612, '93460': 2611, '93350': 2604, '92025': 2604, '96523': 2603, '76512': 2594, '74160': 2585, 'G0127': 2585, '88321': 2579, '92550': 2579, 'A9502': 2567, '76857': 2564, '17311': 2556, '77470': 2554, '98942': 2545, '96118': 2542, '96567': 2538, '94664': 2528, '92504': 2527, '88172': 2526, '97032': 2505, '22614': 2504, '93503': 2492, '97012': 2481, 'J1020': 2471, '75625': 2466, '00103': 2463, '99236': 2460, '36589': 2460, '51701': 2459, '33508': 2458, 'J0885': 2456, '84481': 2453, 'A9585': 2441, 'J7308': 2424, '93282': 2408, '14060': 2389, 'A9552': 2387, '73200': 2384, '93299': 2380, '17312': 2377, '85097': 2347, '88302': 2335, '45384': 2332, 'J2405': 2323, '74170': 2313, '11043': 2313, 'G0364': 2309, 'J2505': 2307, '11301': 2301, '87077': 2301, '90966': 2299, 'G0268': 2278, 'A9579': 2276, '29540': 2270, '72157': 2269, '97166': 2248, '94375': 2247, '77059': 2245, '95115': 2241, '95024': 2236, '22612': 2216, '23472': 2210, '00520': 2197, '76000': 2194, '95885': 2179, '90853': 2179, '52356': 2152, '13101': 2143, '32405': 2120, 'J7040': 2119, 'G0416': 2098, '29881': 2063, '92540': 2059, '29823': 2047, '93571': 2042, 'J9045': 2030, '84132': 2026, '86334': 2024, '93289': 2009, 'A0433': 2000, '76881': 1999, '93297': 1987, '96411': 1985, '00537': 1982, '22840': 1971, '82378': 1971, '0298T': 1969, '92082': 1955, '84436': 1947, '82150': 1945, '29824': 1939, '73523': 1929, '11642': 1928, '22551': 1924, 'A0426': 1892, 'J1580': 1886, '75716': 1886, '80069': 1884, '72114': 1883, 'G0506': 1880, '43450': 1878, '70547': 1877, '73020': 1876, '43246': 1862, '51728': 1859, '80047': 1856, '00567': 1849, 'G0446': 1848, '64492': 1847, '01230': 1840, '22633': 1833, '11402': 1832, '15823': 1828, '72052': 1826, '50590': 1803, '11045': 1802, '96116': 1801, '88189': 1781, '17281': 1773, '88333': 1769, '17272': 1765, '90970': 1764, '78227': 1761, '64633': 1748, '83690': 1748, '29580': 1748, '00320': 1744, '17282': 1740, '93290': 1740, '93990': 1735, '92537': 1732, '90945': 1728, '20551': 1718, '97750': 1717, '70549': 1714, '95908': 1707, '33249': 1704, '71270': 1690, '17111': 1689, '49505': 1688, '11200': 1683, '83037': 1677, '93613': 1670, '85007': 1666, '38525': 1664, '00560': 1662, '17313': 1660, '27236': 1658, 'J1453': 1658, '29880': 1654, '99183': 1654, 'J9310': 1650, '36475': 1649, '00630': 1643, '35301': 1640, '19301': 1637, '33518': 1636, 'Q9966': 1630, '0191T': 1621, '46600': 1616, '72195': 1610, '00532': 1602, '19081': 1599, '95251': 1590, '51729': 1588, '95912': 1584, '78264': 1583, '76604': 1582, '51720': 1582, '76098': 1582, '92552': 1580, 'G6015': 1579, '92060': 1578, 'J1071': 1562, '77336': 1560, '82310': 1555, '33361': 1550, 'G0250': 1536, '95913': 1535, '95012': 1520, '11302': 1513, '95923': 1511, '77085': 1508, '96101': 1501, 'J2250': 1498, '99235': 1495, '78226': 1494, '96127': 1491, '78315': 1489, '95951': 1486, '99344': 1481, '78816': 1478, '36901': 1478, '77003': 1470, '15260': 1469, '99327': 1468, '63650': 1460, '95250': 1460, 'J0881': 1454, '00562': 1453, '84480': 1453, '22845': 1448, '95806': 1447, '28285': 1445, 'J2778': 1444, '77307': 1443, '83516': 1440, '52601': 1440, 'J1745': 1437, '01996': 1436, '92275': 1429, 'J9267': 1429, '66761': 1418, '00410': 1416, '17250': 1416, '14040': 1410, '47563': 1405, 'J9190': 1394, '93924': 1393, '99347': 1389, '47000': 1387, 'J1439': 1383, '96368': 1382, '92286': 1382, '86431': 1381, '64615': 1373, '84466': 1372, '72220': 1371, '85014': 1361, '12052': 1359, '11311': 1358, 'Q4010': 1356, '11300': 1352, 'J1626': 1350, '36410': 1349, '91110': 1348, '99407': 1337, '97802': 1334, '67228': 1333, '30901': 1326, '74150': 1324, '13152': 1318, '96103': 1314, '72082': 1313, '20526': 1312, '72132': 1311, '43264': 1306, 'J0280': 1303, '82784': 1299, '36247': 1299, '10061': 1294, '99487': 1291, '90715': 1289, '86300': 1285, '0296T': 1283, '78492': 1283, 'G0482': 1277, '82272': 1277, '88332': 1275, '73720': 1267, '93662': 1264, '92081': 1259, '11306': 1256, '74328': 1256, '82248': 1254, '90785': 1252, '52281': 1247, '11622': 1244, '93293': 1240, '99345': 1238, 'A9577': 1236, '82977': 1235, '70543': 1234, '29075': 1234, '64640': 1231, '43255': 1231, 'G0483': 1225, '31237': 1217, '33282': 1217, '67904': 1213, '84156': 1213, '64634': 1213, '38900': 1212, '95992': 1211, 'J9031': 1211, '67042': 1210, 'G0108': 1210, '93979': 1196, 'G0481': 1195, '75574': 1193, '82040': 1190, '71035': 1187, '11310': 1180, '88141': 1177, '49650': 1175, '33225': 1175, '88344': 1174, '62270': 1171, '01830': 1171, '86803': 1167, '93656': 1166, '70220': 1166, '96119': 1164, '92941': 1162, '99326': 1162, '64445': 1159, '33405': 1155, '57160': 1155, '93653': 1152, '84166': 1148, '76776': 1147, '64448': 1145, '77332': 1137, '00918': 1135, '84479': 1131, '93281': 1128, 'G0480': 1125, '87210': 1123, '73660': 1122, '99224': 1122, '84484': 1121, '87502': 1117, '88104': 1113, '93040': 1110, '31622': 1106, '95972': 1105, '90714': 1104, '51705': 1104, 'A9575': 1101, '36471': 1101, 'G6012': 1097, '29848': 1093, '17271': 1091, 'J3010': 1090, '63685': 1085, '97803': 1080, '36200': 1079, '62322': 1077, '46221': 1076, '82465': 1068, '84154': 1066, '12031': 1065, '93017': 1059, '92978': 1052, '12042': 1050, '36821': 1050, '67210': 1048, '70490': 1045, 'J2920': 1037, '12051': 1037, '00530': 1036, '85730': 1036, '69433': 1034, '52005': 1022, '86038': 1022, '93621': 1013, '36907': 999, '64566': 994, 'J2010': 993, '64455': 989, '36478': 989, '99343': 987, '67840': 986, '64405': 976, '14041': 975, '75774': 974, '63030': 973, 'J3475': 971, '80051': 967, '99195': 965, 'J7327': 964, 'G0399': 955, '17263': 949, '11755': 947, '96910': 946, '86141': 945, 'G0260': 943, '92588': 943, '86335': 942, '96409': 941, '45330': 941, '95874': 939, 'J2001': 938, '31579': 936, '17314': 934, 'Q4038': 933, '93451': 930, '11305': 924, '93291': 924, '84075': 922, '43274': 921, '73650': 920, '93270': 918, 'G0472': 918, 'G0102': 916, '70480': 911, 'J9201': 911, '82948': 906, '01916': 904, '93623': 904, '95930': 901, 'G6013': 900, '99328': 898, '12001': 895, '13131': 889, '52287': 888, 'A9503': 888, '77073': 887, '74250': 881, '99358': 881, '97022': 880, '88361': 879, '92511': 875, '62370': 873, '22552': 872, 'Q3014': 872, '85045': 871, '82533': 871, '64479': 870, '36905': 866, '33228': 866, '84295': 861, '13151': 860, '99325': 860, '87070': 856, '99324': 854, '97760': 851, '98926': 851, '93886': 850, '43262': 848, '37225': 845, '22558': 845, '38220': 844, 'J7999': 841, '67145': 840, '82670': 834, 'J1245': 832, '86235': 832, '43259': 828, '29405': 825, '00873': 824, 'J0129': 824, '86200': 822, '77435': 821, '00912': 818, '29581': 813, '72120': 812, '87184': 812, 'J1756': 810, '14301': 803, '88177': 802, '64612': 802, '01638': 801, '25447': 799, '77417': 796, '36591': 793, '98925': 791, '14061': 791, '86225': 790, '20680': 787, 'J7644': 787, '83001': 787, '31628': 782, '32557': 781, '20606': 779, 'G0365': 776, '11401': 771, '52224': 768, '92587': 768, '72190': 765, '67108': 765, '33519': 765, '15275': 765, '84270': 765, '92546': 763, '95957': 761, 'Q2036': 761, '92556': 760, 'Q0138': 759, '92132': 759, 'J7326': 758, '36581': 755, '10040': 755, '86376': 755, '15271': 754, '88346': 752, '84146': 749, '77331': 747, '84478': 747, '57288': 745, '94200': 743, '00914': 742, '83718': 741, 'G0498': 740, '67917': 740, '36590': 738, '97124': 738, '77081': 736, '50200': 735, '99281': 734, '77293': 732, 'G0124': 731, '29125': 731, '92585': 730, '31623': 729, 'A9555': 728, '87220': 724, '82247': 722, '93882': 720, '83002': 719, '67036': 718, '73503': 713, '51703': 712, '94762': 711, '99342': 708, '74246': 705, '88377': 704, '43242': 703, '52648': 702, '55866': 697, '98927': 697, '85379': 697, '88363': 696, '93229': 693, '77075': 692, '86160': 690, '00902': 689, '43251': 686, '92553': 686, '88365': 684, '38792': 684, '78195': 679, 'J0640': 679, 'J9299': 677, '88350': 672, '87340': 669, '92507': 668, '88188': 667, '70355': 667, '64616': 665, '90870': 665, '82232': 662, '11641': 662, '93641': 661, '30140': 661, '91010': 659, '11312': 658, '88329': 657, '95822': 656, '84155': 655, 'A0434': 653, 'Q9957': 651, '74010': 651, '74300': 648, '29550': 648, '11046': 648, '93313': 646, '30520': 645, '86304': 643, '11307': 641, '97018': 639, '92547': 637, '90682': 635, '36226': 630, '82553': 630, 'J0690': 630, '72275': 629, '86800': 629, '93455': 628, '31652': 628, '36830': 628, '74240': 626, '91065': 626, '91200': 626, '69220': 626, '29828': 625, 'Q0112': 624, '19281': 623, '95970': 622, '64488': 622, '31645': 620, '67041': 620, '23430': 619, 'J9041': 619, 'A4562': 619, 'J3590': 617, '11044': 616, '96160': 614, '93567': 612, '45331': 611, '75630': 611, '95813': 610, '52204': 610, '58100': 610, 'J1750': 609, '11643': 607, '93750': 607, '92548': 606, '87081': 606, '76998': 605, '90847': 604, '22514': 603, '88184': 603, '45388': 603, '37224': 602, '88185': 601, '36224': 599, '37221': 598, '75726': 597, '00160': 597, '58571': 597, '70210': 595, '83090': 595, '20985': 591, '11604': 590, '27446': 590, '37252': 589, '89060': 587, '01924': 586, '11901': 585, '64718': 584, '36832': 583, '36246': 582, 'J0153': 581, '90937': 579, '37228': 578, '83525': 577, '75561': 575, '65756': 574, '97598': 572, 'J3300': 571, '95938': 571, '37229': 566, '72080': 564, 'J3480': 564, '95921': 563, '86580': 562, '00534': 561, '86618': 558, '90838': 558, '81015': 558, '80162': 557, '67810': 556, '87480': 550, '52235': 550, '87510': 548, '17280': 548, 'Q5101': 548, '20604': 546, '23350': 545, '97168': 543, '49406': 543, '68840': 542, '37191': 541, '11000': 541, '86077': 540, '98928': 538, '78451': 537, '31238': 535, '93931': 533, '83014': 533, 'G0296': 532, '81025': 531, '93655': 531, '93285': 530, 'J7312': 529, '83883': 529, '93352': 525, '49440': 525, '20931': 524, '78320': 524, '86706': 524, '84144': 523, 'P9604': 521, '38571': 521, 'J2550': 520, 'J1940': 520, '77077': 518, '96120': 518, '84402': 517, '83013': 516, '88323': 514, '92570': 513, '36245': 513, '66180': 511, '31255': 511, 'J9263': 511, '52352': 510, '83010': 509, '87624': 508, '97167': 507, '23412': 507, 'J1442': 506, '87660': 505, '00830': 504, '86430': 504, 'G0452': 504, '22513': 502, '95812': 501, '82627': 501, '75572': 499, '70548': 499, '36223': 498, '88187': 493, '50360': 493, '74175': 492, '99498': 491, '43775': 489, '86704': 487, '87205': 487, '88334': 485, '80164': 485, '0159T': 482, '88374': 482, '86592': 480, '95978': 478, '87491': 478, '37226': 477, '87591': 477, 'G0010': 476, '33517': 474, 'A9505': 473, '77370': 473, '86677': 472, '93307': 472, '83520': 472, '11403': 471, '11732': 468, '12002': 468, '52234': 462, 'G0453': 461, '73551': 458, '49568': 457, '36215': 456, '15004': 455, '90746': 454, '91122': 453, 'P9612': 451, '95044': 450, '45390': 450, '01926': 449, '01610': 443, '66710': 443, '84681': 441, '78708': 440, '32674': 439, '31267': 438, '62368': 438, 'J0717': 438, '70552': 437, '92071': 435, '45300': 435, 'J2704': 433, '43237': 432, 'J7614': 431, '40490': 430, '96900': 429, '70250': 428, '36005': 427, '73010': 425, '00541': 425, '11606': 424, '25600': 423, '30903': 423, '19285': 422, '86301': 421, '01991': 420, '64642': 419, '58558': 418, '10160': 418, '67113': 417, '10140': 417, '62304': 417, '93314': 416, '94660': 416, '90630': 416, '52441': 415, '78278': 414, '52442': 414, '77321': 414, 'J7328': 413, '95939': 413, 'J7611': 413, 'Q9965': 413, '73218': 412, '60500': 412, '74270': 411, '83874': 411, '93657': 410, '00350':

6048

In [95]:
i = 0
countType = Counter(data['provider_type'])
types = list(dict(count).keys())
intType = []
for x in data.iloc[:,2]:
    intType.append(types.index(x))
len(intType)
# print(count)
# len(count)

9847443

In [89]:
# data[data['provider_type']=='Medical Toxicology']

,npi,nppes_provider_gender,provider_type,hcpcs_code,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
998537,1104114131,1,Medical Toxicology,99284,44.0,44.0,44.0,112.43,246.0,86.451818,91.721818
998538,1104114131,1,Medical Toxicology,99285,55.0,55.0,55.0,165.89,365.0,130.060000,137.870000

In [98]:
data['provider_type'] = intType

In [99]:
data.to_csv('../Medicare_Provider_Util_Payment_PUF_CY2017_revised.csv',index=False)

In [100]:
del data

In [3]:
data = pd.read_csv('../Medicare_Provider_Util_Payment_PUF_CY2017_revised.csv')

In [30]:
fraudData = pd.read_csv('data/UPDATED.csv')
print(fraudData.shape)
fraudData.head()

(73704, 18)

/home/amin/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE
0,NaN,NaN,,"#1 MARKETING SERVICE, INC",OTHER BUSINESS,SOBER HOME,NaN,0,NaN,239 BRIGHTON BEACH AVENUE,BROOKLYN,NY,11235,1128a1,20200319,0,0,NaN
1,NaN,NaN,,14 LAWRENCE AVE PHARMACY,PHARMACY,NaN,NaN,0,NaN,14 LAWRENCE AVENUE,SMITHTOWN,NY,11787,1128a1,19880830,0,0,NaN
2,NaN,NaN,,143 MEDICAL EQUIPMENT CO,DME COMPANY,DME - OXYGEN,NaN,0,NaN,701 NW 36 AVENUE,MIAMI,FL,33125,1128b7,19970620,0,0,NaN
3,NaN,NaN,,184TH STREET PHARMACY CORP,OTHER BUSINESS,PHARMACY,NaN,1922348218,NaN,69 E 184TH ST,BRONX,NY,10468,1128a1,20180419,0,0,NaN
4,NaN,NaN,,1951 FLATBUSH AVENUE PHARMACY,PHARMACY,NaN,NaN,0,NaN,1951 FLATBUSH AVE,BROOKLYN,NY,11234,1128b5,20090319,0,0,NaN

In [31]:
index = []
i = 0
for x in fraudData['NPI']:
    try:
        int(float(x))
    except:
        i += 1
    if len(str(x))==10:
        index.append(i)
    i += 1
print(len(index))
cleaFraud = fraudData.loc[index,['NPI','EXCLTYPE']]

5588

In [32]:
fraudLabel = list(cleaFraud['EXCLTYPE'])

i = 0
for x in fraudLabel:
    fraudLabel[i] = x.replace(' ','')
    i += 1
print(len(fraudLabel))
Counter(fraudLabel)

5588

Counter({'1128a1': 2120,
         '1128b8': 89,
         '1128b7': 123,
         '1128b5': 83,
         '1128a2': 256,
         '1128a4': 652,
         '1128b1': 26,
         '1128a3': 380,
         'BRCHCIA': 8,
         '1128b6': 6,
         '1128b4': 1595,
         'BRCHSA': 7,
         '1128Aa': 6,
         '1128b16': 2,
         '1128b2': 6,
         '1128b14': 212,
         '1128b3': 14,
         '1156': 1,
         '1128b15': 2})

In [44]:
classlabel = []
labels = ['1128a1','1128a2','1128a3','1128b4','1128c3gi','1128c3gi']
for x in fraudLabel:
    if str(x) in labels:
        classlabel.append(1)
    else:
        classlabel.append(0)
print(len(classlabel), sum(classlabel))
cleaFraud['fraud_label'] = classlabel
cleaFraud.drop(['EXCLTYPE'],inplace=True,axis=1)
cleaFraud.columns = ['npi', 'fraud_label']
cleaFraud.head()

5588 4351

           npi  fraud_label
3   1922348218            1
23  1942476080            0
27  1275600959            1
30  1891731758            0
58  1851631543            0

In [42]:
cleaFraud.to_csv('LEIE Exclusion.csv',index=False)

In [50]:
mergedData = pd.merge(cleaFraud, data, on='npi',how='inner')
print(mergedData.shape, sum(mergedData['fraud_label']))
mergedData.head()

(2992, 12) 2167

,npi,fraud_label,nppes_provider_gender,provider_type,hcpcs_code,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1437418506,1,-1,36,A0425,77561.0,555.0,2464.0,9.220975,21.0,7.229200,2.986449
1,1437418506,1,1,36,A0427,691.0,412.0,664.0,397.560405,3500.0,311.270420,334.607467
2,1437418506,1,1,36,A0428,2526.0,235.0,1494.0,194.799580,1800.0,152.709541,169.258124
3,1437418506,1,1,36,A0429,472.0,215.0,469.0,334.638220,2500.0,261.749047,286.569237
4,1285651638,0,1,62,36415,2863.0,727.0,2851.0,3.000000,7.0,2.938973,2.940000

In [ ]:
mergedData.to_csv('provider features and fraud labels.csv')